@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

#header {
  background-image: url("../images/apple-pie.jpg");
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#header h1 {
  font-size: 150px;
  color: white;
  font-weight: lighter;
  letter-spacing: 3px;
}
#description {
  background-color: white;

  display: flex;

  flex-direction: column;
  justify-items: center;
  align-items: center;
  letter-spacing: 3px;
  width: 80%;
}
#ingredients {
  flex-direction: column;
  align-items: flex-start;
  border-top: 5px solid grey;
  width: 80%;
  letter-spacing: 3px;
}
#ingredients div {
  text-align: center;
}
#ingredients div img {
  text-align: center;
}

#directions {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-top: 5px solid grey;
  width: 80%;
  letter-spacing: 3px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
